.shadow-pop-bl {
	-webkit-animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -0.025em 0.025em #3e3e3e, -0.05em 0.05em #3e3e3e, -0.075em 0.075em #3e3e3e, -0.1em 0.1em #3e3e3e, -0.125em 0.125em #3e3e3e, -0.15em 0.15em #3e3e3e, -0.175em 0.175em #3e3e3e, -0.2em 0.2em #3e3e3e;
            box-shadow: -0.025em 0.025em #3e3e3e, -0.05em 0.05em #3e3e3e, -0.075em 0.075em #3e3e3e, -0.1em 0.1em #3e3e3e, -0.125em 0.125em #3e3e3e, -0.15em 0.15em #3e3e3e, -0.175em 0.175em #3e3e3e, -0.2em 0.2em #3e3e3e;
    -webkit-transform: translateX(0.2em) translateY(-0.2em);
            transform: translateX(0.2em) translateY(-0.2em);
  }
}

@keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: -0.025em 0.025em #3e3e3e, -0.05em 0.05em #3e3e3e, -0.075em 0.075em #3e3e3e, -0.1em 0.1em #3e3e3e, -0.125em 0.125em #3e3e3e, -0.15em 0.15em #3e3e3e, -0.175em 0.175em #3e3e3e, -0.2em 0.2em #3e3e3e;
            box-shadow: -0.025em 0.025em #3e3e3e, -0.05em 0.05em #3e3e3e, -0.075em 0.075em #3e3e3e, -0.1em 0.1em #3e3e3e, -0.125em 0.125em #3e3e3e, -0.15em 0.15em #3e3e3e, -0.175em 0.175em #3e3e3e, -0.2em 0.2em #3e3e3e;
    -webkit-transform: translateX(0.2em) translateY(-0.2em);
            transform: translateX(0.2em) translateY(-0.2em);
  }
}
