@use 'variables';

div {
  &.bar {
    display: flex;
    width: 70%;
    height: 2px;
    background-color: variables.$background;
  }
  &.inner-bar {
    display: inline-block;
    background-color: #17fc03;
    width: 75%;
    height: 100%;
  }
}

.skill-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
p.skill {
  width: 30%;
  color: #17fc03;
}
