@use 'variables';

/*div {
  &.bar {
    display: flex;
    width: 60%;
    height: 2px;
    background-color: variables.$background;
  }
  &.inner-bar {
    display: inline-block;
    background-color: #17fc03;
    width: 1%;
    height: 100%;
    transition: 1s;
    &.visited {
      &.js { width: 97%; }
      &.css { width: 95%; }
      &.scss { width: 75%; }
      &.html { width: 100%; }
      &.ts { width: 50%; }
      &.njs { width: 80%; }
      &.git { width: 75%; }
      &.md { width: 99%; }
      &.bs { width: 50%; }
      &.pwa { width: 70%; }
    }
  }
}

.skill-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
p.skill {
  width: 30%;
  color: #17fc03;
}*/

.skill {
  font-size: 6vmin;
  display: flex;
  height: 198vmin;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    padding: 0.5em;
    text-transform: uppercase;
    transition: all 1s;
    background: none;
    color: black;
    &.visited {
      background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    }
  }
}
