// Fonts
$Gluten: 'Gluten', cursive;
$Lato: 'Lato', sans-serif;
$Play: 'Playfair Display', serif;
$Roboto: 'Roboto', sans-serif;
$Monts: 'Montserrat', sans-serif;
// Others
$background: #0e5080;
$icon-color: #056dff;
$text: #ffffff;
