// Fonts
$Gloria: 'Gloria Hallelujah', cursive;
$Gluten: 'Gluten', cursive;
$Lato: 'Lato', sans-serif;
$Play: 'Playfair Display', serif;
$Gemunu: 'Gemunu Libre', sans-serif;
// Others
$background: #0e5080;
$icon-color: #056dff;
$text: #ffffff;
