@use 'variables';
@use 'scroll';
@use 'skills';
@use 'contact';

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before, &:after {
    box-sizing: inherit;
  }
}

:root {
  background-color: variables.$background;
}

body {
  margin: 0;
  font-family: variables.$Gemunu;
}

header {
  display: flex;
  height: 100vh;
  width: 100%;
}

h1 {
  font-family: variables.$Gluten;
  color: #d0d9d7;
  font-size: 10vmin;
  padding-left: 0.5em;
  padding-right: 0.12em;
  align-self: center;
}

nav ul {
  list-style: none;
}

a {
  &[href^="#"] {
    text-decoration: none;
    color: #2ec4b6;
  }

  text-decoration: none;
}

// For centering the h1 and top-aligning the nav

nav.desktop {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  background-color: rgba(variables.$background, 0.74);
  z-index: 10;
  // For blur 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.5s;

  ul {
    margin: 0;
    list-style: none;
    display: flex;
    height: 1.5em;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0;
    font-size: 150%;
    flex: 1;

    li {
      transition: all 0.3s;

      &:hover, &:active {
        transform: scale(1.15);
      }
    }
  }
}



#name {
  color: #1df0d7;
  /* background: rgb(29,240,215);
  background: -webkit-linear-gradient(90deg, rgba(29,240,215,1) 35%, rgba(21,136,159,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

#hi {
  transform: scale(0.8);

  // Inline elements doesn't transform
  display: block;

  // To scale down from the bottom-left so that it doesn't move away 
  transform-origin: left bottom;
  color: #97a6a3;
}

#passion {
  display: block;
  // To scale down from the bottom-left so that it doesn't move away 
  transform-origin: left top;
  color: #d7ffd1;
}

#logo {
  height: 60px;
  width: 70px;
  margin-left: 20px;
}

#logo-a {
  display: flex;
  flex: 0.8;
  align-items: center;
  height: 95px;
}

h2, h3, h4, h5, h6 {
  font-family: variables.$Gloria;
}

h2 {
  font-size: 8vmin;
  color: #97bfb3;
  margin-bottom: 0;
}

section {
  margin: 5vmax 10vmin;
  color: variables.$text;
}

hr {
  background-color: variables.$text; 
}

p {
  font-size: 6vmin;
}

blockquote {
  color: #c3d4ae;
  text-align: right;
  font-size: 5vmin;
  footer {
    font-size: 4vmin;
  }
}

nav#mobile {
  display: none;
  font-family: variables.$Lato;
}

body > footer {
  color: variables.$text;
  margin: 0;
  background-color: darken(variables.$background, 10%);
  padding: 3vmin;
  
  p {
    font-family: variables.$Play;
    font-size: 4.5vmin;
    text-align: center;
  }
  small {
    font-family: variables.$Lato;
    font-size: 105%;
    display: block;
    width: 100%;
    text-align: center;
  }
}

#contact {
  img {
    width: 100px;
    height: 90px;
  }
  
  div#social {
    display: flex;
    width: 100%;
    height: 110px;
    align-items: center;
    justify-content: space-around;
  }
}

textarea {
  resize: none;
}

label {
  position: absolute;
  right: 9999999999999px;
}

main {
  margin: 0;
}

section#contact {
  width: 100%;
  margin: 5vmax 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2, hr {
    margin-left: 10vmin;
    margin-right: 10vmin;
  }
}
