.ham {
  display: flex;
  position: fixed;
  right: 20px;
  top: 20px;
  width: 14vmin;
  height: 12vmin;
  background-color: rgba(255, 255, 255, 0);
  flex-direction: column;
  justify-content: space-between;
}

.line {
  background-color: var(--icon-color);
  width: 100%;
  display: block;
  height: calc(100% / 8);
}

nav ul {
  display:none;
}
