body {
  margin: 0;
  box-sizing: border-box;
  background-color: #15263d;
}

header {
  display: flex;
  height: 95vh;
  justify-content: center;
  align-items: center;
  background-color: #1d3557;
  width: 100vw;
  flex-direction: column;
}

h1 {
  color: #e9c46a;
  font-size: 10vw;
  padding: 0 1em;
  align-self: flex-start;
}

ul {
  list-style: none;
  display: flex;
  width: 75vw;
  justify-content: space-around;
  padding: 1.5em 0;
  font-size: 100%;
  border-bottom: 0.2em solid #056dff;
}

a {
  text-decoration: none;
  color: #2ec4b6;
}

.empty {
  flex: 1;
}

nav {
  flex: 1;
}

li {
  transition: all 0.3s;
}

li:hover, li:active {
  transform: scale(1.15);
}

#name {
  color: #1df0d7;
}

#hi {
  transform: scale(0.5);
  color: #ff9359;
}
