/* Fonts
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Gluten', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Gemunu Libre', sans-serif;
*/

:root {
  --background-main: #15263d;
  --icon-color: #056dff;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-main);
  font-family: 'Gemunu Libre', sans-serif; ;
}

header {
  display: flex;
  height: 95vh;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
}

h1 {
  font-family: 'Gluten', cursive;
  color: #d0d9d7;
  font-size: 10vmin;
  padding-left: 0.5em;
  padding-right: 0.12em;
  align-self: flex-start;
}

nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  height: 1.5em;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
  font-size: 150%;
  border-bottom: 0.2em solid var(--icon-color);
  flex: 1;
}

a {
  text-decoration: none;
  color: #2ec4b6;
}
/* For centering the h1 and top-aligning the nav*/
.empty {
  flex: 1;
}

nav {
  flex: 1;
  display: flex;
}

li {
  transition: all 0.3s;
}

li:hover, li:active {
  transform: scale(1.15);
}

#name {
  color: #1df0d7;
}

#hi {
  transform: scale(0.8);
  /*Inline elements doesn't transform*/
  display: block;
  /* To scale down from the bottom-left so that it doesn't move away */
  transform-origin: left bottom;
  color: #97a6a3;
}

#passion {
  /*transform: scale(0.6);*/
  display: block;
  /* To scale down from the bottom-left so that it doesn't move away */
  transform-origin: left top;
  color: #d7ffd1;
}

#logo {
  max-height: 8vmax;
}

#logo-a {
  display: flex;
  padding: 1vmax;
  flex: 0.8;
  align-items: center;
  min-height: 10vmax;
}

h2,h3,h4,h5,h6 {
  font-family: 'Gloria Hallelujah', cursive;
}

.ham {
 /* display: none;*/
}

@media (max-width: 820px) {
  
}
